    <div class='imageparent'>
        <img class="banner" src="images/D&D Banner.jpg" alt="Banner">
        <img class="logo" src="images/D&D Logo.png" alt="Logo">
    </div>
    <div id="loader-wrapper">
        <div id="loader">

        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <nav class="navbar">
    <span class="open-slide">
        <a href="#" id="open-slider">
            <svg width="30" height="30">
                <path d="M0,5 30,5" stroke="#ffffff" stroke-width="5"/>
                <path d="M0,14 30,14" stroke="#ffffff" stroke-width="5"/>
                <path d="M0,23 30,23" stroke="#ffffff" stroke-width="5"/>
            </svg>
        </a>
    </span>
        <ul class="navbar-nav">
            <li><a href="/game">Game</a></li>
            <li><a href="index.html">Evenementen</a></li>
            <li><a href="index.html">Tips</a></li>
            <li><a href="index.html">Forum</a></li>
        </ul>
    </nav>
    <div id="side-menu" class="side-nav">
        <a href="#" id="close-slider">&times;</a>
        <a href="/game">Game</a>
        <a href="index.html">Evenementen</a>
        <a href="index.html">Tips</a>
        <a href="index.html">Forum</a>
    </div>

<div id="main">
    <h1>Lorem ipsum dolor sit amet</h1>
    <button id="showButton">Show popup</button>
    <div id="main-text">
    <p>
        Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
        Atqui causae gloriatur ius te, id agam omnis evertitur eum.
        Affert laboramus repudiandae nec et.
        Inciderint efficiantur his ad.
        Eum no molestiae voluptatibus.
    </p>
    <p>
        Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
        Atqui causae gloriatur ius te, id agam omnis evertitur eum.
        Affert laboramus repudiandae nec et.
        Inciderint efficiantur his ad.
        Eum no molestiae voluptatibus.
    </p>
    <p>
        Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
        Atqui causae gloriatur ius te, id agam omnis evertitur eum.
        Affert laboramus repudiandae nec et.
        Inciderint efficiantur his ad.
        Eum no molestiae voluptatibus.
    </p>
    </div>
    <div id="widget">
        <div id="notification">
            <div id="wrapper">
                <div id="notification-text">
                    Hello world!
                </div>
                <div id="notification-buttons">
                    <button id="goodButton">Good</button>
                    <button id="badButton">Evil</button>
                </div>
                <img id="notification-close" src="images/cross_icon.png">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p class="footer-text">
        Woeffie studios - Copyright 2018
    </p>
</div>